body {
  background-color: #F2FFE9;
}
hr {
  border-color: #DB6B97;
  border-style: dotted none none;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #557C55;
}
h3 {
  color: #A6CF98;
}
